extends layout
//- importo el archivos
include  mixins/crearProyecto
block contenido
     .contenido-principal
          h1= nombrePagina
          //- si me pasan errores por parametros los muestro
          //- pre= vardump(proyecto)
          if errores 
               //- recorro el array de errores que recivo por parametro y los voy mostrardo en un div con la clase alerta 
               each error in errores
                    .alerta.error= error.texto
          //- Utilizo el archivo que importe de la carpeta mixins 
          +crearProyecto(proyecto)