//- el master page que contiene el html principal
extends layout

//- le indicamos que bloque bamos a insertar en el page master
block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}
        //- form agregar tarea
        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
          .campo
            label(for="tarea") Tarea: 
            input.nombre-tarea(type="text" name="tarea" placeholder="Nombre Tarea")
          .campo.enviar 
            input.boton.nueva-tarea(type="submit" value="Agreagr")
          //- TODO - Listados de pendientes 
        
        //- Acciones que se pueden realizar 
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyecto
            //- data-proyecto-url es un atributo personalizado
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto